body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    background-color: rgb(77, 76, 76);
    height: 100vh;
    padding-top: 20px;
}

.container h2 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.calculator-container {
    background-color: black;
    width: 350px;
    height: 570px;
    box-shadow: 10px 5px 5px gray;
    margin: 15px auto;
    border: 1px solid black;
    border-radius: 10px;
}

#display {
    height: 100px;
    width: 340px;
    background-color: aliceblue;
    line-height: 35px;
    text-align: right;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 10px;

}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 15px;
    padding: 5px;
}

.button {
    background-color: beige;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
}

#equal {
    background-color: green;
}

#close {
    background-color: red;
    color: white;
}